footer {
  text-align: center;
  margin-bottom: 0.5rem;
  opacity: 0.7;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
